:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
    --menu-active-color: #232323;
    --menu-active-text: white;
    --modal-form-body-width: 420px;
    --modal-form-body-height: 677px;
    --gray: #c4c4c4;
    --green: #279e7a;
  }